[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
jupyter = "*"
jupyterlab = "*"
jupyterlab-code-formatter = "*"
pandas = "*"
pandas-profiling = "*"
matplotlib = "*"
black = "*"
isort = "*"
kaleido = "*"
seaborn = "*"
sklearn = "*"
pycountry = "*"
geopandas = "*"

[requires]
python_version = "3.10"
